<div class="row">
  <div class="col-md-12">
    <ul class="list-unstyled">
      <li><strong>Higlighting errors:</strong>
        <ul>
          <li>
            Highlight the text fragment where you have identified a translation error with your cursor or finger.
          </li>
          <li>Click repeatedly on the highlighted fragment to increase its severity level or to remove the selection.
            The available severity levels:</li>
          <li><strong>Severity:</strong>
            <ul>
              <li><span class="instruction_sev" id="instruction_sev_major">Major:</span>
                Seriously changed meaning, difficult to read, decreases usability.
                <!-- Seriously affects the understandability, reliability, or usability of the content for its intended
                purpose or hinders the proper use of the product or service due to a significant loss or change in
                meaning or because the error appears in a highly visible or important part of the content. -->
              </li>
              <li><span class="instruction_sev" id="instruction_sev_minor">Minor:</span>
                Style/grammar/lexical choice could be better/more natural.
                <!-- Does not seriously impede the usability, understandability, or reliability of the content for its
                intended purpose, but has a limited impact on, for example, accuracy, stylistic quality, consistency,
                fluency, clarity, or general appeal of the content. -->
              </li>
            </ul>
          </li>
          <li>If something is missing from the text, mark it as an error on the <b style="font-family: monospace, monospace;">[MISSING]</b> word.</li>
        </ul>
      </li>
      <li>
        <strong>Score: </strong>
        Highlighting more errors or changing their severity levels automatically updates the translation quality score on the slider. After highlighting all errors, before continuing to the next screen, please manually update this score to better reflect your judgement. The quality levels associated with numerical scores on the slider:
        <ul>
          <li><strong>0: No meaning preserved</strong>: Nearly all information is lost in the translation.</li>
          <li><strong>33%: Some meaning preserved</strong>: The translation preserves some of the meaning but misses significant parts.
            The narrative is hard to follow due to errors. Grammar may be poor.</li>
          <li><strong>66%: Most meaning preserved and few grammar mistakes</strong>: The translation retains most of the
            meaning. It may have some grammar mistakes or minor inconsistencies.</li>
          <li><strong>100%: Perfect meaning and grammar</strong>: The meaning and grammar of the translation is completely consistent
            with the source.</li>
        </ul>
      </li>
    </ul>
  </div>
</div>