<div class="row">
  <div class="col-md-12">
    <ul class="list-unstyled">
      <li><strong>Highlighting errors:</strong>
        <ul>
          <li>
            Highlight the text fragment where you have identified a translation error (drag or click start & end).
          </li>
          <li>Click repeatedly on the highlighted fragment to increase its severity level or to remove the selection.</li>
          <li><span class="instruction_sev" id="instruction_sev_minor">Minor Severity:</span>
            Style/grammar/lexical choice could be better/more natural.
            <!-- Does not seriously impede the usability, understandability, or reliability of the content for its
              intended purpose, but has a limited impact on, for example, accuracy, stylistic quality, consistency,
              fluency, clarity, or general appeal of the content. -->
            </li>
            <li><span class="instruction_sev" id="instruction_sev_major">Major Severity:</span>
              Seriously changed meaning, difficult to read, decreases usability.
              <!-- Seriously affects the understandability, reliability, or usability of the content for its intended
              purpose or hinders the proper use of the product or service due to a significant loss or change in
              meaning or because the error appears in a highly visible or important part of the content. -->
            </li>
          </li>
          <li>If something is missing from the text, mark it as an error on the <b style="font-family: monospace, monospace;">[MISSING]</b> word.</li>
          <li>The highlights do not have to have character-level precision. It's sufficient if you highlight the word or rough area where the error appears.</li>
          <li>Each error should have a separate highlight.</li>
        </ul>
      </li>
      <li>
        <strong>Error types: </strong>
        After highlighting an error fragment, you will be asked to select the specific error type (main category and subcategory).
        If you are unsure about which errors fall under which categories, please consult the <a href="https://themqm.org/the-mqm-typology/" style="font-weight: bold; text-decoration: underline;">typology definitions</a>.
      </li>
    </ul>
  </div>
</div>