<div class="row">
  <div class="col-md-12">
    <ul class="list-unstyled">
      <li>Highligh errors:
        <ul>
          <li><strong>Select</strong> the part of translation where you have identified a <strong>translation error</strong> (drag or click start & end).</li>
          <li><strong>Click</strong> on the highlight to change error severity (minor/major) or remove the highlight.</li>
        </ul>
      </li> 
      <li>Choose error severity:
        <ul>
          <li><span class="instruction_sev" id="instruction_sev_minor">Minor errors:</span> Style, grammar, word choice could be better or more natural. </li>
          <li><span class="instruction_sev" id="instruction_sev_major">Major errors:</span>: The meaning is changed significantly and/or the part is really hard to understand. </li>
        </ul>
      </li>
      <li><strong>Missing content</strong>: If something is missing, highlight the word <b style="font-family: monospace, monospace;">[MISSING]</b> to mark the error. </li>
      <li><strong>Tip</strong>: Highlight the word or general area of the error---it doesn’t need to be exact. Use separate highlights for different errors.</li>
      <li><strong>Score the translation</strong>: After marking errors, please use the slider and set an overall score based on meaning preservation and general quality:</li>
        <ul>
          <li>0: <strong>No meaning preserved</strong>: most information is lost.</li>
          <li>33%: <strong>Some meaning preserved</strong>: major gaps and narrative issues.</li>
          <li>66%: <strong>Most meaning preserved</strong>: minor issues with grammar or consistency.</li>
          <li>100%: <strong>Perfect</strong>: meaning and grammar align completely with the source.</li>
        </ul>
      </li>
    </ul>
  </div>
</div>