<div class="row">
  <div class="col-md-12">
    <ul class="list-unstyled">
      <li><strong>Marking spans:</strong>
        <ul>
          <li>Highlight parts of the text with your cursor.</li>
          <li>Click the span repeatedly to increase its severity.</li>
        </ul>
      </li>
      
      <li><strong>Severity:</strong>
        <ul>
          <li><span class="instruction_sev" id="instruction_sev_critical">Critical:</span> Errors that drastically change the meaning or make the content incomprehensible.</li>
          <li><span class="instruction_sev" id="instruction_sev_major">Major:</span> Errors that cause a change in meaning or a significant reduction in fluency, but do not make the text incomprehensible.</li>
          <li><span class="instruction_sev" id="instruction_sev_minor">Minor:</span> Less severe errors that do not significantly change the meaning or reduce the fluency of the text. They might be small mistakes in grammar, spelling, or punctuation that do not greatly affect the overall quality of the translation.</li>
        </ul>
      </li>
      <li><strong>TODO: </strong>Actual MQM instructions</li>
    </ul>
  </div>
</div>
