<div class="row">
  <div class="col-md-12">
    {% if ui_lang == 'deu' %}
    <p>Bewerten Sie die Übersetzungsqualität auf einer kontinuierlichen Skala mit Hilfe der nachfolgend beschriebenen Qualitätsstufen:</p>
    {% else %}
    <p>Assess the translation quality on a continuous scale using the quality levels described as follows:</p>
    {% endif %}

    <ul class="list-unstyled">
      TODO MQM instructions
      <li><strong>0: Nonsense/No meaning preserved</strong>: Nearly all information is lost between the translation and source. Grammar is irrelevant.</li>
      <li><strong>2: Some meaning preserved</strong>: The translation preserves some of the meaning of the source but misses significant parts. The narrative is hard to follow due to fundamental errors. Grammar may be poor.</li>
      <li><strong>4: Most meaning preserved and few grammar mistakes</strong>: The translation retains most of the meaning of the source. It may have some grammar mistakes or minor contextual inconsistencies.</li>
      <li><strong>6: Perfect meaning and grammar</strong>: The meaning of the translation is completely consistent with the source and the surrounding context (if applicable). The grammar is also correct.</li>
    </ul>
  </div>
</div>
