<div class="slider-box">
    <div id="slider{{ sliderid }}" class="sqm-scale row">
        <label class="btn btn-primary sqm-btn radio-inline col-sm-1 col-sm-offset-2">
          <input type="radio" name="sqm-{{ sliderid }}" value="0" style="visibility:hidden;"> 0
        </label>
        <label class="btn btn-primary sqm-btn radio-inline col-sm-1">
          <input type="radio" name="sqm-{{ sliderid }}" value="20" style="visibility:hidden;"> 1
        </label>
        <label class="btn btn-primary sqm-btn radio-inline col-sm-1">
          <input type="radio" name="sqm-{{ sliderid }}" value="35" style="visibility:hidden;"> 2
        </label>
        <label class="btn btn-primary sqm-btn radio-inline col-sm-1">
          <input type="radio" name="sqm-{{ sliderid }}" value="50" style="visibility:hidden;"> 3
        </label>
        <label class="btn btn-primary sqm-btn radio-inline col-sm-1">
          <input type="radio" name="sqm-{{ sliderid }}" value="65" style="visibility:hidden;"> 4
        </label>
        <label class="btn btn-primary sqm-btn radio-inline col-sm-1">
          <input type="radio" name="sqm-{{ sliderid }}" value="80" style="visibility:hidden;"> 5
        </label>
        <label class="btn btn-primary sqm-btn radio-inline col-sm-1">
          <input type="radio" name="sqm-{{ sliderid }}" value="100" style="visibility:hidden;"> 6
        </label>
    </div>
    <div class="row sqm-help">
        <div class="col-sm-2 col-sm-offset-2">0: Nonsence/no meaning preserved</div>
        <div class="col-sm-2">2: Some meaning preserved or poor grammar</div>
        <div class="col-sm-2">4: Most meaning preserved and few grammar mistakes</div>
        <div class="col-sm-2">6: Perfect meaning and grammar</div>
    </div>
</div>
