<div class="slider-box col-sm-12">
    <div id="slider{{ sliderid }}" class="radio col-sm-12">
    <table class="sqm-scale" style="width:100%;">
      <td class="sqm-scale-0" style="width:14%;">
      <label class="radio">
        <input type="radio" name="sqm-{{ sliderid }}" value="0">
        <small>0: Nonsence/ no meaning preserved</small>
      </label>
      </td>
      <td class="sqm-scale-1 form-check" style="width:14%;">
      <label class="radio">
        <input type="radio" name="sqm-{{ sliderid }}" value="20">
        <small>1: Almost no meaning preserved</small>
      </label>
      </td>
      <td class="sqm-scale-2 form-check" style="width:14%;">
      <label class="radio">
        <input type="radio" name="sqm-{{ sliderid }}" value="35">
        <small>2: Some meaning preserved or poor grammar</small>
      </label>
      </td>
      <td class="sqm-scale-3 form-check" style="width:14%;">
      <label class="radio">
        <input type="radio" name="sqm-{{ sliderid }}" value="50">
        <small>3: More meaning preserved and better grammar</small>
      </label>
      </td>
      <td class="sqm-scale-4 form-check" style="width:14%;">
      <label class="radio">
        <input type="radio" name="sqm-{{ sliderid }}" value="65">
        <small>4: Most meaning preserved and few grammar mistakes</small>
      </label>
      </td>
      <td class="sqm-scale-5 form-check" style="width:14%;">
      <label class="radio">
        <input type="radio" name="sqm-{{ sliderid }}" value="80">
        <small>5: Meaning preserved and good grammar</small>
      </label>
      </td>
      <td class="sqm-scale-6 form-check" style="width:14%;">
      <label class="radio">
        <input type="radio" name="sqm-{{ sliderid }}" value="100">
        <small>6: Perfect meaning and grammar</small>
      </label>
      </td>
    </table>
    </div>
</div>
