<div style="width: 95%; margin-left: auto; margin-right: auto;">
  <table style="color:#777; margin-top:1ex; font-size:small; width:100%;">
    <tr>
      <td class="col-xs-2" style="vertical-align:top;text-align:left;padding-left:0;">0%: Broken/poor</td>
      <td class="col-xs-4" style="vertical-align:top;text-align:center;">33%: Flawed</td>
      <td class="col-xs-4" style="vertical-align:top;text-align:center;">66%: Good</td>
      <td class="col-xs-4" style="vertical-align:top;text-align:right;padding-right:0;">100%: Perfect</td>
    </tr>
  </table>
  <div class="slider" style="margin-top:10px;"></div>
  <br>
</div>