<div class="slider-box col-sm-12">
  <div class="col-sm-12">
    <div id="slider{{ slidernum }}{{ sliderid }}" class="slider slider{{ slidernum }}"></div>
  </div>
  <table class="slider-grid">
    <tr>
      <td style="width:20%;text-align:right;"><small>&larr; Not at all</small></td>
      <td style="width:5%;text-align:right;vertical-align:top;">|</td>
      <td style="width:25%;text-align:right;vertical-align:top;">|</td>
      <td style="width:25%;text-align:right;vertical-align:top;">|</td>
      <td style="width:5%;text-align:right;vertical-align:top;"></td>
      <td style="width:20%;text-align:left;"><small>Perfectly &rarr;</small></td>
    </tr>
  </table>
</div>
