{% extends "Dashboard/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'EvalView/css/direct-assessment-document-mqm.css' %}">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<script src="{% static 'EvalView/js/direct-assessment-document-mqm.js' %}"></script>

{% endblock %}

{% block content %}

<div class="alert alert-info" style="margin-top: -55px;">
    <table style="width:100%">
        <tr>
            <td style="width:33%;text-align:left;">
                <strong id="task_progress">
                    {{completed_blocks}}/{{total_blocks}} documents,
                    <span id="items-left-counter">{{items_left_in_block}}</span>
                    items left in document
                </strong>
            </td>
            <td style="width:33%;text-align:center;">
                <strong>{{campaign}} #{{datask_id}}:Document #{{document_id}}-<span
                        id="current-item-id">{{item_id}}</span></strong>
            </td>
            <td style="width:33%;text-align:right;">
                <strong>{{source_language}} &rarr; {{target_language}}</strong>
            </td>
        </tr>
    </table>
</div>

<div class="question-box">
    {% include 'EvalView/_mqm_instructions.html' %}
</div>

{% for item,scores in items %}

<div id="item-{{ item.itemID }}" class="item-box quotelike active" 
    data-item-id="{{ item.itemID }}"
    data-item-completed="{{ scores.completed }}"
    data-item-score="{{ scores.score }}"
    {% if forloop.last %} last_item {% endif %}
    >

    {{ scores.mqm|json_script:"mqm-payload" }}
    {{ scores.mqm_orig|json_script:"mqm-payload-orig" }}

    <form action="{{action_url}}" method="post"  item_id="{{ item.itemID }}">
        {% csrf_token %}

        <input name="start_timestamp" type="hidden" value="" />
        <input name="end_timestamp" type="hidden" value="" />
        <input name="item_id" type="hidden" value="{{ item.itemID }}" />
        <input name="task_id" type="hidden" value="{{ item.id }}" />
        <input name="document_id" type="hidden" value="{{ item.documentID }}" />
        <input name="score" type="hidden" value="{{ scores.score }}" id="score{{ item.itemID }}" />
        <input name="mqm" type="hidden" value="{{ scores.mqm }}" id="score{{ item.itemID }}" />
        <!-- Tell the server that the client expect JSON response -->
        <input name="ajax" type="hidden" value="True" />

        <div class="source-box">
            <div class="source-text" title='Source sentence #{{ item.itemID|add:" 1" }}'>
                {{ item.sourceText }}
            </div>

            <div class="target-text" title='Candidate translation of source sentence #{{ item.itemID|add:" 1" }}'>
                {{item.targetText|safe}}
            </div>
        </div>

        <div class="target-box">
            <div class="row">
                {% include 'EvalView/_mqm_slider.html' %}
            </div>

            <table class="row action-box">
                <tr>
                    <td style="width:30%;text-align:left;">
                        <button class="btn button-reset" accesskey="2" type="reset">Reset</button>
                    </td>
                    <td style="width: 40%; text-align: center;">
                        <span class="status-indicator glyphicon glyphicon-ok"></span>
                        <span class="status-text">Item status</span>
                    </td>
                    <td style="width:30%;text-align:right;">
                        <button class="btn button-submit btn-primary" name="next_button" accesskey="1" type="submit"
                            value="{{ item.itemID }}"> Submit</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>

{% endfor %}


<form action="{{action_url}}" method="post">
    {% csrf_token %}

    <input name="end_timestamp" type="hidden" value="" />
    <input name="task_id" type="hidden" value="{{ item.id }}" />
    <input name="document_id" type="hidden" value="{{ item.documentID }}" />
    <input name="ajax" type="hidden" value="False" />

    <button type="submit" class="btn btn-primary" style="margin-left: auto; margin-right: auto; display: block;"
        id="button-next-doc">
        Continue to next document
    </button>
</form>

{% endblock %}