{% extends "Dashboard/base.html" %}
{% load static %}

{% block head %}
<style>
  #slider .ui-slider-range {
    background: #729fcf;
  }

  #slider .ui-slider-handle {
    border-color: #729fcf;
  }

  .slider {
    margin-top: 10px;
  }

  .quotelike {
    border-left: 5px solid #eee;
    font-size: 16px;
    margin: 0 0 20px;
    padding: 10px 20px;
  }

  .center_align {
    text-align: center;
  }

  #candidate_text {
    line-height: 1.7em;
  }

  mark {
    cursor: pointer;
    border-radius: 4px;
    padding: 0px;
  }

  .expanded_select {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    list-style-type: none;
    background-color: #dfd;
    border: 1px solid #397;
    border-radius: 4px;
    padding-left: 0;
    padding: 3px;
  }

  .expanded_select > li {
    width: 100%;
    font-size: 12pt;
    user-select: none;
  }

  .expanded_select > li:hover:not([selected]) {
    background-color: #aaa8;
  }

  .expanded_select > li[selected] {
    background-color: #0004;
  }

  .mqm_bubble {
    position: absolute;
    background-color: #dfd;
    border: 1px solid #397;
    font-size: 10pt;
    font-weight: normal;
    line-height: 1em;
    padding: 5px;
    border-radius: 4px;
  }

  [data-pseudo-content]::before,
  [data-pseudo-content--before]::before,
  [data-pseudo-content--after]::after {
    content: attr(data-pseudo-content);
    font-weight: bold;
  }
</style>

<link rel="stylesheet" href="{% static 'EvalView/css/jquery-ui.css' %}">
<script src="{% static 'EvalView/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'Dashboard/js/jquery.min.js' %}"></script>
<!-- for highlighting -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"></script>
<script>
  var idleTime = 0;
  //var idleTimeoutInSeconds = 5;

  String.prototype.rot13 = function () {
    return this.replace(/[a-zA-Z]/g, function (c) {
      return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13) ? c : c - 26);
    });
  };

  $(document).ready(function () {
    $('input[name="start_timestamp"]').val(Date.now() / 1000.0);
    // $('#slider').slider({orientation: "horizontal", range: "min", change: update_score});
    $('input[name="score"]').val(-1);
  });

  function add_end_timestamp() {
    $('input[name="end_timestamp"]').val(Date.now() / 1000.0);
  }

  function reset_form() {
    idleTime = 0;
    $('input[name="start_timestamp"]').val(Date.now() / 1000.0);
    $('#slider').slider('option', 'value', 0);
    $('input[name="score"]').val(-1);
  }

  function validate_form() {
    var score = $('input[name="score"]').val();
    if (score == -1) {
      alert('Please score the given candidate sentence. Thanks!');
      return false;
    }

    return true;
  }

  function update_score() {
    var new_score = $('#slider').slider('value');
    $('input[name="score"]').val(new_score);
  }
</script>

{{ mqm|json_script:"mqm-payload" }}

{% endblock %}

{% block content %}

<form action="{{action_url}}" method="post" onsubmit="javascript:add_end_timestamp();">
  {% csrf_token %}

  <div class="alert alert-info">
    <table style="width:100%">
      <tr>
        <td style="width:33%;text-align:left;">
          <strong>{% if isCompleteDocument %}Document{% else %}Sentence pair{% endif %}</strong>
        </td>
        <td style="width:33%;text-align:center;">
          <strong>{{campaign}} #{{datask_id}}:Document #{{document_id}}-{{item_id}}</strong>
        </td>
        <td style="width:33%;text-align:right;">
          <strong>{% if source_language %}{{source_language}} &rarr; {% endif %}{{target_language}}</strong>
        </td>
      </tr>
    </table>
  </div>

  <div class="row">
    <div class="col-sm-12">
      {% if isCompleteDocument %}
      <p>Below are the sentences you have just rated as a single <strong>document</strong>. Please state how much you
        agree that:</p>
      <p class="center_align"><strong>The black text adequately expresses the meaning of the gray text in
          {{target_language}}.</strong></p>
      {% else %}
      <p>For the pair of <strong>sentences</strong> below: Read the text and state how much you agree that:</p>
      <p class="center_align"><strong>The black text adequately expresses the meaning of the gray text in
          {{target_language}}.</strong></p>

      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <blockquote>
        <p style="color: gray;">
          {% if reference_context_left %}
          {{reference_context_left|safe}}
          {% endif %}
          <strong>{{reference_text|safe}}</strong>
          {% if reference_context_right %}
          {{reference_context_right|safe}}
          {% endif %}
        </p>
        <small>{{reference_label}}</small>
      </blockquote>
    </div>
  </div>

  <input name="end_timestamp" type="hidden" value="" />
  <input name="item_id" type="hidden" value="{{item_id}}" />
  <input name="task_id" type="hidden" value="{{task_id}}" />
  <input name="document_id" type="hidden" value="{{document_id}}" />
  <input name="start_timestamp" type="hidden" value="" />
  <input name="score" type="hidden" value="-1" />

  <span id="candidate">
    <div class="row">
      <div class="col-sm-12">
        <blockquote>
          <!--<p id="id_candidate_text" data-pseudo-content="{{candidate_text|safe}}"></p>-->
          <p style="color: black;">
            {% if candidate_context_left %}
            {{candidate_context_left|safe}}
            {% endif %}
            <strong id="candidate_text">{{candidate_text|safe}}</strong>
            {% if candidate_context_right %}
            {{candidate_context_right|safe}}
            {% endif %}
          </p>
          <small>{{candidate_label}}</small>
        </blockquote>
      </div>
    </div>

    <!-- <div class="row quotelike">
  {% with sliderid='' %}
  {% include 'EvalView/_sqm_slider.html' %}
  {% endwith %}
</div> -->
  </span>

  <div>
    <ul class="expanded_select" id="select_severity" setting_type="severity">
      <li>Critical</li>
      <li selected>Major</li>
      <li>Minor</li>
      <li>Neutral</li>
    </ul>
    <ul class="expanded_select" id="select_category" setting_type="type1">
      <li selected>Accuracy</li>
      <li>Fluency</li>
      <li>Terminology</li>
      <li>Locale convention</li>
      <li>Style</li>
      <li>Verity</li>
      <li>Design</li>
    </ul>
    <ul class="expanded_select" id="select_category" setting_type="type2">
      <li>Addition</li>
      <li selected>Mistranslation</li>
      <li>Omission</li>
      <li>Untranslated</li>
    <ul>
  </div>

  <div class="actions">
    <table style="width:100%">
      <tr>
        <td style="width:40%;text-align:left;">
          <button onclick="javascript:reset_form();" accesskey="2" type="reset" class="btn">
            <i class="icon-repeat"></i> Reset</button>
        <td style="width:20%;text-align:right;">
          <button class="btn btn-primary" name="submit_button" accesskey="1" type="submit" value="SUBMIT"
            onclick="javascript:return validate_form();">
            <i class="icon-ok-sign icon-white"></i> Submit</button>
          </button>
        </td>
      </tr>
    </table>
  </div>

  <br />
  {% include 'EvalView/_mqm_instructions.html' %}

</form>

<!-- process list select -->
<script>
  var USER_SETTING = {
    "severity": "major",
    "type1": "accuracy",
    "type2": "mistranslation",
  }
  var USER_SEVERITY = "major"
  const MAJORITY_TO_COLOR = {
    "critical": "#d99c",
    "major": "#d999",
    "minor": "#d995",
    "neutral": "#d992",
  }

  $(".expanded_select > li").each((_, el) => {
    let parent = $(el).parent()
    $(el).on("click", () => {
      // remove from all siblings
      parent.children().each((_, el) => $(el).removeAttr("selected"))
      // add to self
      $(el).attr("selected", "selected")
      // set the value
      USER_SETTING[parent.attr("setting_type")] = $(el).text().toLowerCase()
    })
  })
</script>

<!-- MQM-specific, at the end after everything is rendered -->
<script>
  let mqm = JSON.parse(document.getElementById('mqm-payload').textContent);
  let marker_candidate = new Mark(document.querySelector("#candidate_text"));

  async function redraw_mqm() {
    $("#candidate_text").html($("#candidate_text").html().trim())
    // NOTE: hopefully this will get us into the next loop
    // WARNING: might not always be the case
    await new Promise(resolve => setTimeout(resolve, 10))
    marker_candidate.unmark({
      done: async () => {
        console.log("marking ranges", mqm.map((span) => ({
            "start": span["start_i"],
            "length": span["end_i"] - span["start_i"]
          })));
        marker_candidate.markRanges(
          mqm.map((span) => ({
            "start": span["start_i"],
            "length": span["end_i"] - span["start_i"]
          })),
          {
            done: () => {
              $("#candidate_text > mark").each((i, el) => {
                el = $(el)
                el.css("background-color", MAJORITY_TO_COLOR[mqm[i]["severity"]]);
                el.attr("end_i", mqm[i]["end_i"]);
                el.attr("i", i);
                // currently just remove on click
                el.on("click", () => {
                  mqm.splice(i, 1)
                  redraw_mqm()
                })
                // show highlight on hover
                el.on("mouseover", () => {
                  // this is different from .offset().left
                  let left = el.get(0).offsetLeft;
                  let top = el.position().top-22;
                  el.parent().prepend(`
                    <span class="mqm_bubble" style="left: ${left}px; top: ${top}px;">
                      ${mqm[i]["type1"]} > ${mqm[i]["type2"]}
                    </span>
                  `)
                })
                // destroy all bubbles
                el.on("mouseout", () => {
                  $(".mqm_bubble").remove()
                })
              })
            }
          })
      }
    })
  }
  redraw_mqm()

  let el_candidate_text = $('#candidate_text')

  // text selection creates a highlight
  el_candidate_text.mouseup(function () {
    let text = getSelectedText();
    let selection = window.getSelection()
    if (selection) {
      let start_prev_i = -1
      let start_i = selection.anchorOffset
      if (selection.anchorNode.previousSibling) {
        start_i += Number.parseInt($(selection.anchorNode.previousSibling).attr("end_i"))
        start_prev_i = Number.parseInt($(selection.anchorNode.previousSibling).attr("i"))
      }
      let end_i = selection.focusOffset
      let end_prev_i = -1
      if (selection.focusNode.previousSibling) {
        end_i += Number.parseInt($(selection.focusNode.previousSibling).attr("end_i"))
        end_prev_i = Number.parseInt($(selection.focusNode.previousSibling).attr("i"))
      }
      [start_i, end_i] = [Math.min(start_i, end_i), Math.max(start_i, end_i)]
      // don't allow very short spans
      if (end_i < start_i + 1) {
        return
      }
      // don't allow spans that go over existing spans
      if (selection.focusNode.previousSibling != selection.anchorNode.previousSibling) {
        return
      }
      new_span = {
        "start_i": start_i,
        "end_i": end_i,
        "severity": USER_SETTING["severity"],
        "type1": USER_SETTING["type1"],
        "type2": USER_SETTING["type2"],
      }
      console.log(new_span, selection.anchorNode.previousSibling)
      // should be the same because we disallow skipping marked spans for now
      let index = Math.min(start_prev_i, end_prev_i)+1
      console.log("index", index)
      mqm = [
        ...mqm.slice(0, index),
        new_span,
        ...mqm.slice(index)
      ]
      redraw_mqm()
    }
  });

  function getSelectedText() {
    if (window.getSelection) {
      return window.getSelection().toString();
    } else if (document.selection) {
      return document.selection.createRange();
    }
    return '';
  }
</script>

{% endblock %}