{% extends "Dashboard/base.html" %}
{% load static %}

{% block head %}
<style>
  .quotelike {
    border-left: 5px solid #eee;
    font-size: 16px;
    margin: 0 0 20px;
    padding: 10px 20px;
  }

  .center_align {
    text-align: center;
  }

  #candidate_text {
    line-height: 1.7em;
  }

  mark {
    cursor: pointer;
    border-radius: 4px;
    padding: 0px;
  }

  .small_message {
    position: fixed;
    top: 25px;
    left: 44%;
    right: 44%;
    z-index: 2000;
    text-align: center;

    background-color: #c99;
    border: 1px solid #a77;
    border-radius: 4px;

    font-size: 15pt;
  }

  .instruction_sev {
    border-radius: 4px;
    padding: 0px 2px;
    font-weight: bold;
  }

  [data-pseudo-content]::before,
  [data-pseudo-content--before]::before,
  [data-pseudo-content--after]::after {
    content: attr(data-pseudo-content);
    font-weight: bold;
  }
</style>

<link rel="stylesheet" href="{% static 'EvalView/css/jquery-ui.css' %}">
<script src="{% static 'EvalView/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'Dashboard/js/jquery.min.js' %}"></script>
<!-- for highlighting -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"></script>


{{ mqm|json_script:"mqm-payload" }}

{% endblock %}

{% block content %}

<form action="{{action_url}}" method="post" onsubmit="javascript:add_end_timestamp();">
  {% csrf_token %}

  <div class="alert alert-info">
    <table style="width:100%">
      <tr>
        <td style="width:33%;text-align:left;">
          <strong>{% if isCompleteDocument %}Document{% else %}Sentence pair{% endif %}</strong>
        </td>
        <td style="width:33%;text-align:center;">
          <strong>{{campaign}} #{{datask_id}}:Document #{{document_id}}-{{item_id}}</strong>
        </td>
        <td style="width:33%;text-align:right;">
          <strong>{% if source_language %}{{source_language}} &rarr; {% endif %}{{target_language}}</strong>
        </td>
      </tr>
    </table>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p class="center_align"><strong>The black text adequately expresses the meaning of the gray text in
          {{target_language}}.</strong></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <blockquote>
        <p style="color: gray;">
          {% if reference_context_left %}
          {{reference_context_left|safe}}
          {% endif %}
          <strong>{{reference_text|safe}}</strong>
          {% if reference_context_right %}
          {{reference_context_right|safe}}
          {% endif %}
        </p>
        <small>{{reference_label}}</small>
      </blockquote>
    </div>
  </div>

  <input name="end_timestamp" type="hidden" value="" />
  <input name="item_id" type="hidden" value="{{item_id}}" />
  <input name="task_id" type="hidden" value="{{task_id}}" />
  <input name="document_id" type="hidden" value="{{document_id}}" />
  <input name="start_timestamp" type="hidden" value="" />
  <input name="mqm" type="hidden" value="" />

  <span id="candidate">
    <div class="row">
      <div class="col-sm-12">
        <blockquote>
          <!--<p id="id_candidate_text" data-pseudo-content="{{candidate_text|safe}}"></p>-->
          <p style="color: black;">
            {% if candidate_context_left %}
            {{candidate_context_left|safe}}
            {% endif %}
            <strong id="candidate_text">{{candidate_text|safe}}</strong>
            {% if candidate_context_right %}
            {{candidate_context_right|safe}}
            {% endif %}
          </p>
          <small>{{candidate_label}}</small>
        </blockquote>
      </div>
    </div>
  </span>

  <div class="actions">
    <table style="width:100%">
      <tr>
        <td style="width:40%; text-align:left;">
          <button onclick="javascript:reset_form();" accesskey="2" type="reset" class="btn">
            <i class="icon-repeat"></i> Reset</button>
        <td style="width:20%; text-align:right;">
          <button class="btn btn-primary" name="submit_button" accesskey="1" type="submit" value="SUBMIT"
            onclick="javascript:return validate_form();">
            <i class="icon-ok-sign icon-white"></i> Submit</button>
          </button>
        </td>
      </tr>
    </table>
  </div>

  <br />
  {% include 'EvalView/_mqm_instructions.html' %}

</form>

<!-- process list select -->
<script>
  var USER_SETTING = {
    "severity": "major",
  }
  var USER_SEVERITY = "major"
  const SEVERITY_TO_COLOR = {
    "critical": "#f99f",
    "major": "#f99a",
    "minor": "#f996",
    "neutral": "#f993",
    "undecided": "#99d9",
  }
  const SEVERITY_TO_NEXT = {
    "undecided": "neutral",
    "neutral": "minor",
    "minor": "major",
    "major": "critical",
    "critical": null,
  }

  Object.keys(SEVERITY_TO_COLOR).map((key) => {
    $(`#instruction_sev_${key}`).css("background-color", SEVERITY_TO_COLOR[key])
  })
</script>

<script>
  // prevent double clicks that select everything
  document.addEventListener('mousedown', (event) => {
    if (event.detail > 1) event.preventDefault();
  }, false);

  function small_message(text) {
    let obj = $(`<div class="small_message" style="display: none">${text}</div>`)
    $("body").append(obj);
    obj.fadeIn(200);
    setTimeout(() => { obj.fadeOut(700, () => { obj.remove() }) }, 1500);
  }
</script>

<!-- MQM-specific, at the end after everything is rendered -->
<script>
  const MQM_ORIGINAL = JSON.parse(document.getElementById('mqm-payload').textContent);
  let mqm = MQM_ORIGINAL
  let marker_candidate = new Mark(document.querySelector("#candidate_text"));

  async function redraw_mqm() {
    // store currently displayed version
    $('input[name="mqm"]').val(JSON.stringify(mqm));

    // cleanup artefacts
    $("#candidate_text").html($("#candidate_text").html().trim())
    // NOTE: hopefully this will get us into the next loop
    // WARNING: might not always be the case
    await new Promise(resolve => setTimeout(resolve, 10))

    marker_candidate.unmark({
      done: async () => {
        marker_candidate.markRanges(
          mqm.map((span) => ({
            "start": span["start_i"],
            "length": span["end_i"] - span["start_i"]
          })),
          {
            done: async () => {
              $("#candidate_text > mark").each((i, el) => {
                el = $(el)
                el.css("background-color", SEVERITY_TO_COLOR[mqm[i]["severity"]]);
                el.attr("end_i", mqm[i]["end_i"]);
                el.attr("i", i);

                // go to next severity level on click
                el.on("click", () => {
                  let severity_next = SEVERITY_TO_NEXT[mqm[i]["severity"]]
                  if (severity_next == null) {
                    mqm.splice(i, 1)
                  } else {
                    mqm[i]["severity"] = severity_next
                    small_message(severity_next.charAt(0).toUpperCase() + severity_next.slice(1))
                  }
                  redraw_mqm()
                })
              })
            }
          })
      }
    })
  }

  let el_candidate_text = $('#candidate_text')

  // text selection creates a highlight
  // TODO: special phone handling
  // https://stackoverflow.com/questions/56889013/detect-a-text-selection-on-a-smartphone
  el_candidate_text.mouseup(function () {
    let text = getSelectedText();
    let selection = window.getSelection()
    if (selection) {
      let start_prev_i = -1
      let start_i = selection.anchorOffset
      if (selection.anchorNode.previousSibling) {
        start_prev_i = Number.parseInt($(selection.anchorNode.previousSibling).attr("i"))
        if (!Number.isNaN(start_prev_i))
          start_i += Number.parseInt($(selection.anchorNode.previousSibling).attr("end_i"))
      }
      let end_i = selection.focusOffset
      let end_prev_i = -1
      if (selection.focusNode.previousSibling) {
        end_prev_i = Number.parseInt($(selection.focusNode.previousSibling).attr("i"))
        if (!Number.isNaN(end_prev_i))
          if (!Number.isNaN(end_prev_i))
            end_i += Number.parseInt($(selection.focusNode.previousSibling).attr("end_i"))
      }

      [start_i, end_i] = [Math.min(start_i, end_i), Math.max(start_i, end_i)]
      // don't allow very short spans
      if (end_i < start_i + 1) {
        return
      }
      // don't allow spans that go over existing spans
      if (selection.focusNode.previousSibling != selection.anchorNode.previousSibling) {
        return
      }

      // create new span
      new_span = {
        "start_i": start_i,
        "end_i": end_i,
        "severity": "undecided",
      }
      // should be the same because we disallow skipping marked spans for now
      let index = Math.min(start_prev_i, end_prev_i) + 1
      mqm = [
        ...mqm.slice(0, index),
        new_span,
        ...mqm.slice(index)
      ]
      redraw_mqm()
    }
  });

  function getSelectedText() {
    if (window.getSelection) {
      return window.getSelection().toString();
    } else if (document.selection) {
      return document.selection.createRange();
    }
    return '';
  }
</script>

<script>
  var idleTime = 0;

  $(document).ready(reset_form);

  function add_end_timestamp() {
    $('input[name="end_timestamp"]').val(Date.now() / 1000);
  }

  function reset_form() {
    idleTime = 0;
    $('input[name="start_timestamp"]').val(Date.now() / 1000);
    mqm = MQM_ORIGINAL
    redraw_mqm()
  }

  function validate_form() {
    if(mqm.some((x) => x["severity"] == "undecided")) {
      alert('There are some segments without severity (in blue). Click on them to change their severities.');
      return false
    }
    if(mqm.length == 0 && !confirm("There are no annotated spans. Are you sure you want to submit?")) {
      return false
    }
    return true;
  }
</script>

{% endblock %}