{% extends "Dashboard/base.html" %}
{% load static %}

{% block head %}
<style>
  .quotelike {
    border-left: 5px solid #eee;
    font-size: 16px;
    margin: 0 0 20px;
    padding: 10px 20px;
  }

  body {
    /* override the default */
    padding-top: 50px !important;
  }

  .main_instruction {
    text-align: center;
    font-size: large;
    font-weight: bold;
  }

  u {
    text-decoration: none;
    border-radius: 4px;
    background-color: #ddd;
    padding: 0px 2px;
  }

  #candidate_text {
    line-height: 2em;
  }

  .small_message {
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
    text-align: center;

    background-color: #bbb;
    border: 1px solid #999;
    border-radius: 4px;

    font-size: 16pt;
    padding: 2px 10px;
    min-width: 130px;
  }

  .instruction_sev {
    border-radius: 4px;
    padding: 0px 2px;
    font-weight: bold;
  }

  ul {
    padding-left: 20px;
  }

  #candidate_text {
    user-select: none;
  }

  .mqm_char:hover:not([selected]):not([in_mqm]) {
    outline: 2px solid #ccc;
  }

  .mqm_char[selected] {
    background-color: #ccc;
  }

  .mqm_char {
    cursor: pointer;
  }

  [data-pseudo-content]::before,
  [data-pseudo-content--before]::before,
  [data-pseudo-content--after]::after {
    content: attr(data-pseudo-content);
    font-weight: bold;
  }
</style>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>


{{ mqm|json_script:"mqm-payload" }}

{% endblock %}

{% block content %}

<form action="{{action_url}}" method="post" onsubmit="javascript:add_end_timestamp();">
  {% csrf_token %}

  <div class="alert alert-info">
    <table style="width:100%">
      <tr>
        <td style="width:33%;text-align:left;">
          <strong>{% if isCompleteDocument %}Document{% else %}Sentence pair{% endif %}</strong>
        </td>
        <td style="width:33%;text-align:center;">
          <strong>{{campaign}} #{{datask_id}}:Document #{{document_id}}-{{item_id}}</strong>
        </td>
        <td style="width:33%;text-align:right;">
          <strong>{% if source_language %}{{source_language}} &rarr; {% endif %}{{target_language}}</strong>
        </td>
      </tr>
    </table>
  </div>

  <div class="row">
    <div class="col-sm-12 main_instruction">
      For the source text in {{source_language}} and its candidate translation in {{target_language}} shown below,
      <br>please
      <u>(1) highlight all errors of various severity levels</u>, and then
      <u>(2) update the overall translation quality score on the slider</u>.
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <blockquote>
        <p style="color: gray;">
          {% if reference_context_left %}
          {{reference_context_left|safe}}
          {% endif %}
          <strong>{{reference_text|safe}}</strong>
          {% if reference_context_right %}
          {{reference_context_right|safe}}
          {% endif %}
        </p>
        <small>{{reference_label}}</small>
      </blockquote>
    </div>
  </div>

  <input name="end_timestamp" type="hidden" value="" />
  <input name="item_id" type="hidden" value="{{item_id}}" />
  <input name="task_id" type="hidden" value="{{task_id}}" />
  <input name="document_id" type="hidden" value="{{document_id}}" />
  <input name="start_timestamp" type="hidden" value="" />
  <input name="mqm" type="hidden" value="" />
  <input name="score" type="hidden" value="" />

  <span id="candidate">
    <div class="row">
      <div class="col-sm-12">
        <blockquote>
          <!--<p id="id_candidate_text" data-pseudo-content="{{candidate_text|safe}}"></p>-->
          <p style="color: black;">
            {% if candidate_context_left %}
            {{candidate_context_left|safe}}
            {% endif %}
            <strong id="candidate_text">{{candidate_text|safe}} <em>[MISSING]</em></strong>
            {% if candidate_context_right %}
            {{candidate_context_right|safe}}
            {% endif %}
          </p>
          <small>{{candidate_label}}</small>
        </blockquote>
      </div>
    </div>
  </span>

  <div class="row quotelike">
    {% with sliderid='' %}
    {% include 'EvalView/_mqm_slider.html' %}
    {% endwith %}
  </div>

  <div style="text-align: center; min-height: 2em;">
    <button onclick="javascript:reset_form();" accesskey="2" type="reset" class="btn" style="float: left;">
      <i class="icon-repeat"></i> Reset
    </button>

    <button class="btn btn-primary" name="submit_button" accesskey="1" type="submit" value="SUBMIT"
      onclick="javascript:return validate_form();" style="float: right;">
      <i class="icon-ok-sign icon-white"></i> Submit
    </button>
  </div>

  <br />
  {% include 'EvalView/_mqm_instructions.html' %}

</form>

<!-- process list select -->
<script>
  var USER_SETTING = {
    "severity": "major",
  }
  var USER_SEVERITY = "major"
  const SEVERITY_TO_COLOR = {
    "critical": "#f33c",
    "major": "#f70a",
    "minor": "#dd0a",
    "neutral": "#f993",
    "undecided": "#99d9",
  }
  const SEVERITY_TO_SCORE = {
    "critical": 15,
    "major": 5,
    "minor": 1,
    "neutral": 0,
    "undecided": Number.NaN,
  }
  const SEVERITY_TO_NEXT = {
    "neutral": "minor",
    "undecided": "minor",
    "minor": "major",
    "major": "critical",
    "critical": "undecided",
  }
  Object.keys(SEVERITY_TO_COLOR).map((key) => {
    $(`#instruction_sev_${key}`).css("background-color", SEVERITY_TO_COLOR[key])
  })
  // https://stackoverflow.com/questions/4817029/whats-the-best-way-to-detect-a-touch-screen-device-using-javascript
  const IS_MOBILE = (('ontouchstart' in window) || (navigator.maxTouchPoints > 0) || (navigator.msMaxTouchPoints > 0) || window.matchMedia("(any-pointer: coarse)").matches);
</script>

<script>
  $('#slider').slider({
    orientation: "horizontal",
    range: "min",
    change: (a) => {
      let score = $('#slider').slider('value');
      $('input[name="score"]').val(score);
    }
  });

  // prevent double clicks that select everything
  document.addEventListener('mousedown', (event) => {
    if (event.detail > 1) event.preventDefault();
  }, false);

  function small_message(text) {
    let obj = $(`<div class="small_message" style="display: none">${text}</div>`)
    $("body").append(obj);
    obj.fadeIn(200);
    // disappear in 2s
    setTimeout(() => { obj.fadeOut(700, () => { obj.remove() }) }, 2000);
  }

  function current_mqm_score(modified) {
    let score = mqm.reduce((a, b) => a - SEVERITY_TO_SCORE[b["severity"]], 0)
    if (modified) {
      return (Math.max(-25, score) + 25) * 4
    } else {
      return score
    }
  }

  function waitout_js_loop() {
    return new Promise(resolve => setTimeout(resolve, 1))
  }
</script>

<!-- MQM-specific, at the end after everything is rendered -->
<script>
  const MQM_ORIGINAL = JSON.parse(document.getElementById('mqm-payload').textContent);
  const TXT_CANDIDATE_ORIGINAL = $("#candidate_text").text().trim()
  var SELECTION_STATE = []
  let mqm = MQM_ORIGINAL
  let mqm_delete_timer = null

  async function redraw_mqm() {
    // store currently displayed version
    $('input[name="mqm"]').val(JSON.stringify(mqm));
    // should be in range [0, 100]
    $('#slider').slider('value', current_mqm_score(true))


    let html_candidate = TXT_CANDIDATE_ORIGINAL.split("").map((v, i) => {
      return `<span class="mqm_char" id="candidate_char_${i}" char_id="${i}">${v}</span>`
    }).join("")
    $("#candidate_text").html(html_candidate)

    await waitout_js_loop()

    function abort_selection() {
      // cleanup
      $(".mqm_char[selected]").each((_, el) => $(el).attr("selected", false))
      SELECTION_STATE = []
    }

    $(".mqm_char").each((i, el) => {
      el = $(el)
      let char_id = Number.parseInt(el.attr("char_id"))

      // render existing mqm
      let active_mqm = mqm.map((v, i) => [v, i]).filter((v) => v[0]["start_i"] <= char_id && v[0]["end_i"] >= char_id)
      // TODO: should be only 0 or 1 exactly
      if (active_mqm.length > 0) {
        active_mqm = active_mqm[0]
        el.css("background-color", SEVERITY_TO_COLOR[active_mqm[0]["severity"]])
        el.attr("in_mqm", active_mqm[1])
      }

      el.on("click", () => {
        clearTimeout(mqm_delete_timer)

        if (el.attr("in_mqm")) {
          let mqm_i = Number.parseInt(el.attr("in_mqm"))
          mqm[mqm_i]["severity"] = SEVERITY_TO_NEXT[mqm[mqm_i]["severity"]]
          // clear ALL undecided
          mqm_delete_timer = setTimeout(() => {
            mqm = mqm.filter(v => v["severity"] != "undecided");
            redraw_mqm()
          }, 1000)
          redraw_mqm()
          abort_selection()
        } else {
          // add new span

          el.attr("selected", true)
          SELECTION_STATE.push(char_id)
          // TODO: intermediate highlight on hover?
          if (SELECTION_STATE.length == 2) {
            // check that nothing overlaps
            let start_i = Math.min(...SELECTION_STATE)
            let end_i = Math.max(...SELECTION_STATE)
            if (mqm.some((v) =>
              (v["start_i"] > start_i && v["start_i"] < end_i) ||
              (v["end_i"] > start_i && v["end_i"] < end_i)
            )) {
              abort_selection()
              small_message("Overlapping error fragments are not allowed.")
              return
            }

            mqm.push({
              "start_i": start_i,
              "end_i": end_i,
              "severity": "minor",
            })


            abort_selection()
            redraw_mqm()
          }
        }
      })
    })
  }
</script>

<script>
  var idleTime = 0;

  $(document).ready(reset_form);

  function add_end_timestamp() {
    $('input[name="end_timestamp"]').val(Date.now() / 1000);
  }

  function reset_form() {
    idleTime = 0;
    $('input[name="start_timestamp"]').val(Date.now() / 1000);
    mqm = MQM_ORIGINAL
    redraw_mqm()
  }

  function validate_form() {
    if (mqm.some((x) => x["severity"] == "undecided")) {
      alert('There are some segments without severity (in blue). Click on them to change their severities.');
      return false
    }
    if (mqm.length == 0 && !confirm("There are no annotated text fragments. Are you sure you want to submit?")) {
      return false
    }
    if (current_mqm_score(true) == Number.parseFloat($('input[name="score"]').val()) && !confirm("You did not change the original translation score. Are you sure you want to submit?")) {
      return false
    }
    return true;
  }
</script>

{% endblock %}