{% extends "Dashboard/base.html" %}
{% load static %}

{% block head %}
<style>
.full-screen { width:100% !important; }
.slider .ui-slider-range { background: #729fcf; }
.slider .ui-slider-handle { border-color: #729fcf; }
.slider { margin-top: 10px; }
.slider small { font-size:80%; }
.slider-box { font-size:16px; width:100%; }
.slider-box .slider-grid { font-size:14px; width:100%; color:#777; }

.half-slider { padding:0 !important; }
.half-slider .col-sm-12 { padding:0; }
.half-slider .slider-grid td:first-of-type { padding-left:0; }
.half-slider .slider-grid td:last-of-type { padding-right:0; }
.half-slider .slider { margin-top:5px !important; }

.quotelike { }
.quotelike .row, .pseudoquotelike .row { font-size: 16px; margin: 0; }
.quotelike.active { background-color: #f7f7f7; }

.question-box { margin-bottom:10px; }
.question-box p { font-size: 120%; margin: 10px 0 20px; font-style: italic; color: #31708f; }
.question-box li { font-size: 100%; font-style: italic; color: #31708f; }
.document-box { padding-top: 10px; }
.document-box p { font-size: 16px; }

.item-box { margin-bottom: 20px; }
/*
.item-odd { }
.item-even { background-color:#f8f8f8; }
*/
.item-box:last-of-type { background-color:inherit; }
.item-box emph { font-weight:bold; }

.item-static-content p { opacity:0.5; font-style:italic; }
.thumb-up, .thumb-down { cursor:pointer; }
.thumb-up.active { color: #4CAF50; }
.thumb-down.active { color: #F44336; }

.source-box-hoverable:hover { background: #f5f5f5; cursor: pointer; }
.source-btn-toggle { float: right; padding-right:10px; }
.source-btn-done { float: right; display: none; padding-bottom:5px; padding-left:5px; }
.preview-box .row { padding-top:0; font-size:95%; /*font-weight:bold;*/ }

.candidate-text.active .diff { background: #ff06 !important; }
.segment-label { display:block; font-size:small; font-style:italic; }

.toggleable { display:none; }
.toggleable.active { display:block; }

.target-box .row { padding-top:0; }
.target-box.active { display:block; }
.target-box .btn { margin-top:10px; min-width:71px; margin-right:5px; }

.system-label { display:none; }

.action-box  { width: 100%; }
.action-box td { padding-bottom:10px; }
.action-box .btn { margin: 0 40px; }
/*.document-box .btn { margin: 10px 5px 0; }*/

/* .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { padding-left:10px; padding-right:10px; } */

/* Uncomment if ENABLE_UNRESTRICTED_ANNOTATION is set to false */
/*.source-btn-toggle, .control-box { display:none; }*/
</style>

<link rel="stylesheet" href="{% static 'EvalView/css/jquery-ui.css' %}">
<script src="{% static 'EvalView/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'EvalView/js/js.cookie-2.2.1.min.js' %}"></script>
<script>
    <!--
var idleTime = 0;

// Enable submitting scores for individual items using Ajax POST. If disabled,
// the page will be reloaded each time an item is annotated. Note that the
// document-level score is always submitted without Ajax.
var ENABLE_AJAX = true;
// Hint scores of already annotated items with small red-to-green color
// circles.
var ENABLE_COLOR_LABELS = false;
// Allow unrestricted annotation of items in the document. If disabled,
// expanding and hiding of sentences is disabled and the user must score items
// following their order, one-by-one.
// Note: If set to false, some HTML elements are disabled via javascript
// after the page is loaded, which may result in a flashing effect. To prevent
// this, add the CSS rule: .source-btn-toggle, .control-box {display:none;}
// (see line 51). This is purely esthetics.
var ENABLE_UNRESTRICTED_ANNOTATION = true;

String.prototype.rot13 = function() {
    return this.replace(/[a-zA-Z]/g, function(c) {
        return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13) ? c : c - 26);
    });
};

// https://stackoverflow.com/a/21520499
jQuery.fn.clickToggle = function(a, b) {
    return this.on("click", function(ev) { [b, a][this.$_io ^= 1].call(this, ev) })
};

$(document).ready(function() {
    // This sets the same starting time for all items, but it is set again when
    // an item is expanded by clicking on it.
    // TODO: this may need to be changed
    $('input[name="start_timestamp"]').val(Date.now()/1000.0);

    // Show diffs between candidate translations when hovering
    $(".source-box-hoverable").hover(function(){
        $(this).find('.candidate-text').addClass('active');
    }, function(){
        $(this).find('.candidate-text').removeClass('active');
    });

    // Bind thumbs up/down click events to update score1/score2
    $('.thumb-up').click(click_thumb_up);
    $('.thumb-down').click(click_thumb_down);
    
    // Bind click events
    // TODO: remove as there will be no slider here
    $('.slider').slider({orientation: "horizontal", range: "min", change: update_score });
    if (ENABLE_UNRESTRICTED_ANNOTATION) {
        $('.source-btn-toggle').hide(0);
    } else {
        $('.source-box').removeClass('source-box-hoverable');
        $('.source-btn-toggle').hide(0);
        $('.control-box').hide(0);
    }
    // All except the document-level item send Ajax POST request
    $('.button-next').not(':last').click(submit_form);
    // The last item doesn't send Ajax request
    $('.button-next').last().click(last_form);

    // First unannotated item-box, i.e. with data-item-completed=False
    var next_item;
    // Update thumbs up/down for annotated items
    $('input[name^="score"]').each(function() {
        var item_box = $(this).closest('.item-box');
        var is_completed = item_box.data('item-completed');
        if(is_completed == "True") {
            // Which candidate translation is it?
            var candidate_num = $(this).attr('name').slice(-1);
            var score = $(this).val();
            // Score eq 0 is default, scores eq 1 is thumbs-down, scores eq 2 is thumbs-up
            if(score == 2){
                item_box.find('.thumb-up.slider' + candidate_num).addClass('active');
            } else if(score == 1){
                item_box.find('.thumb-down.slider' + candidate_num).addClass('active');
            }
            item_box.find('button[name="next_button"]').text('Update');
        } else if(next_item === undefined) {
            next_item = item_box;
        }
    });

    // Activate current item; this will have no effect for the document-level item
    // next_item.find('.source-box').click();
    _show_target_box.call(next_item);

    // Disable document-level item unless all individual sentences are scored
    if (! _all_sentences_scored())
        _disable_document_box();

    $('#button-full-screen').click(toggle_full_screen);
    if (Cookies.get('full-screen') != 'no') {
      $('.container').addClass('full-screen');
    }

    // TODO: keep all thumbs up/down expanded all the time, i.e., remove toggling of sliders
    open_all_items();

    // Show guidelines in a popup box
    $('#guidelines-modal').modal('show');
});

function click_thumb_up() {
    var thumb_up = $(this);
    var thumb_down = $(this).siblings('.thumb-down');

    var item = thumb_up.closest('.item-box').find('input[name="score' + thumb_up.attr('class').slice(-1) + '"]');
    if (thumb_up.hasClass('active')) {
        thumb_up.removeClass('active');
        item.val(0);
    } else if (thumb_down.hasClass('active')) {
        thumb_down.removeClass('active');
        item.val(0);
    } else {
        thumb_up.addClass('active');
        item.val(2);
    }
}

function click_thumb_down() {
    var thumb_down = $(this);
    var thumb_up = $(this).siblings('.thumb-up');

    var item = thumb_down.closest('.item-box').find('input[name="score' + thumb_down.attr('class').slice(-1) + '"]');
    if (thumb_down.hasClass('active')) {
        thumb_down.removeClass('active');
        item.val(0);
    } else if (thumb_up.hasClass('active')) {
        thumb_up.removeClass('active');
        item.val(0);
    } else {
        thumb_down.addClass('active');
        item.val(1);
    }
}

function _all_sentences_scored() {
    var num = $('.item-box').filter(function() {
        return $(this).data('item-completed') == "False";
    }).length;
    console.log('Items left:', num);
    // 1 because the document-level score is also counted
    return num <= 1;
}

function _enable_document_box() {
    // Enable buttons and slider for document evaluation if they were disabled
    $('.document-box').find('button').attr('disabled', false);
    $('.document-box').find('.slider').slider('enable');
}
function _disable_document_box() {
    $('.document-box').find('button').attr('disabled', true);
    $('.document-box').find('.slider').slider('disable');
}

function _show_target_box() {
    var item_box = $(this).closest('.item-box');
    // Show only if not shown yet
    if(item_box.find('.target-box').is(':hidden')) {
        item_box.find('.toggleable').animate({height: 'toggle'}, 0);
        item_box.addClass('active');
        _change_item_toggle_icon(item_box, 'up');
    }
    // Reset start timestamp
    item_box.find('input[name="start_timestamp"]').val(Date.now()/1000.0);
}
function _hide_target_box() {
    var item_box = $(this).closest('.item-box');
    // Hide only if not hidden yet
    if(!item_box.find('.target-box.toggleable').is(':hidden')) {
        item_box.find('.toggleable').animate({height: 'toggle'}, 0);
        item_box.removeClass('active');
        _change_item_toggle_icon(item_box, 'down');
    }
}

function toggle_diff() {
    var item_box = $(this).closest('.item-box');
    var isActive = $('.candidate-text').first().hasClass('active');
    if (isActive) {
        $('.candidate-text').removeClass('active');
    } else {
        $('.candidate-text').addClass('active');
    }
   // Cookies.set('show-diff', isActive ? 'no' : 'yes', { sameSite: 'strict' });
}

function toggle_full_screen() {
    var isFullScreen = $('.container').first().hasClass('full-screen');
    if (isFullScreen) {
        $('.container').removeClass('full-screen');
    } else {
        $('.container').addClass('full-screen');
    }
    Cookies.set('full-screen', isFullScreen ? 'no' : 'yes', { sameSite: 'strict' });
}

function update_score() {
    // Assign new score to the corresponding input
    var new_score = $(this).slider('value');
    var new_input = $('#' + this.id.replace('slider', 'score'));
    new_input.val(new_score);
}

function _change_item_status_icon(item_box, icon_name) {
    var icon_box = item_box.find('.source-btn-done').removeClass('glyphicon-refresh glyphicon-ok');
    if ('refresh' == icon_name) {
        icon_box.addClass('glyphicon-refresh').show();
    }
}
function _change_item_toggle_icon(item_box, icon_name) {
    var icon_box = item_box.find('.source-btn-toggle').removeClass('glyphicon-menu-down glyphicon-menu-up');
    if ('down' == icon_name) {
        icon_box.addClass('glyphicon-menu-down');
    } else if ('up' == icon_name) {
        icon_box.addClass('glyphicon-menu-up');
    }
}

function submit_form(e) {
    var item_box = $(this).closest('.item-box');
    var button_type = $(this).attr('type');
    var button_text = $(this).text();

    // Validate form
    var score1 = item_box.find('input[name="score1"]').val();
    var score2 = item_box.find('input[name="score2"]').val();
    var index = item_box.data('item-id');
    if ((score1 == -1) || (score2 == -1)) {
        alert('Sentence #' + (index + 1) + ' misses a score. ' +
            'Please score all candidate sentences. Thanks!');
        return false;
    }

    // Add end timestamp
    item_box.find('input[name="end_timestamp"]').val(Date.now()/1000.0);

    // Ajax request
    // Checking if the button type is submit is for debugging purposes
    if (ENABLE_AJAX && button_type == 'submit') {
        e.preventDefault();

        // Say server that the client expect JSON response
        item_box.find('input[name="ajax"]').val('True');

        console.log('Sending data: ', item_box.find('form').serialize());

        // Workflow: Immediately after an Ajax request is sent, annotation
        // moves to the next element opening the next slider; if Ajax request
        // returns an error or the item was not saved, annotation moves back
        // to the previous item.
        $.ajax({
            data: item_box.find('form').serialize(),
            type: 'POST',
            url: '{% url active_page %}',
            dataType: 'json',
            beforeSend: function() {
                console.log('Sending Ajax request, item-id=', item_box.data('item-id'));
                _change_item_status_icon(item_box, 'refresh');
            },
            success: function(data) {
                console.log('Success, saved=', data.saved, 'next_item=', data.item_id);
                if (data.saved) {
                    _change_item_status_icon(item_box, 'ok');
                    // Update counters
                    $('#items-left-counter').text(data.items_left_in_block);
                    $('#current-item-id').text(data.item_id);

                    // Update data- attributes in the scored item
                    item_box.data('item-completed', 'True');
                    item_box.data('item-score1', score1);
                    item_box.data('item-score2', score2);
                    // Change submit button label to 'Update'
                    item_box.find('button[name="next_button"]').text('Update');

                    if (_all_sentences_scored())
                        _enable_document_box();
                } else {
                    _change_item_status_icon(item_box, 'none');
                    _show_error_box(item_box, data.error_msg);
                }
            },
            error: function(x,s,t) {
                console.log('Error:', x, s, t);

                _change_item_status_icon(item_box, 'none');
                _show_error_box(item_box,
                    'An unrecognized error has occured. ' +
                    'Please reload the page or try again in a moment. ' +
                    'Make sure you use a relatively modern browser.'
                );
            },
        });

    } else {
        _change_item_status_icon(item_box, 'ok');
        // Update counters
        var count_box = $('#items-left-counter');
        count_box.text( parseInt(count_box.text()) - 1 );
        var citem_idx = $('#current-item-id');
        citem_idx.text( parseInt(citem_idx.text()) + 1 );

        if (_all_sentences_scored())
            _enable_document_box();
    }

    return true;
}

function last_form() {
    var item_box = $(this).closest('.item-box');
    // Validate form
    var score1 = item_box.find('input[name="score1"]').val();
    var score2 = item_box.find('input[name="score2"]').val();
    var index = item_box.data('item-id');
    if (score1 == -1 || score2 == -1) {
        alert('Please score the document translations. Thanks!');
        return false;
    }
    // It is a security check, but this should never occur, because the last
    // item is disabled if there is at least one sentence that is not scored
    if (!_all_sentences_scored()) {
        alert('Please score all sentences from the document first. Thanks!');
        return false;
    }
    // Add end timestamp
    item_box.find('input[name="end_timestamp"]').val(Date.now()/1000.0);
}

function open_all_items() {
    $('.item-box.quotelike').each(function() {
        var item_box = $(this);
        _show_target_box.call(item_box);
    });
}

function _show_error_box(item_box, msg) {
    // A hideable error box with a custom message displayed right above the item box
    item_box.before(
        '<div class="alert alert-danger alert-dismissible" role="alert">' +
        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
        '<span aria-hidden="true">&times;</span>' +
        '</button>Oops... ' + msg + '</div>'
    );
}

-->
</script>

{% endblock %}

{% block content %}

<div class="alert alert-info">
    <table style="width:100%">
        <tr>
            <td style="width:33%;text-align:left;">
                <strong id="task_progress">
                    {% if trusted_user %}
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    {% endif %}
                    {{completed_blocks}}/{{total_blocks}} documents,
                    <span id="items-left-counter">{{items_left_in_block}}</span>
                    items left in document
                </strong>
            </td>
            <td style="width:33%;text-align:center;">
                <strong>{{campaign}} #{{datask_id}}:Document #{{document_id}}-<span id="current-item-id">{{item_id}}</span></strong>
            </td>
            <td style="width:33%;text-align:right;">
                <strong>{% if source_language %}{{source_language}} &rarr; {% endif %}{{target_language}}</strong>
            </td>
        </tr>
    </table>
</div>

<div class="question-box">
    <div class="row">
        <div class="col-sm-12">
            <p>Instructions will be shown here.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="pull-left control-box">
                <button id="button-full-screen" class="btn btn-info btn-sm">Wide/Narrow screen</button>
            </p>
        </div>
    </div>
</div>

{% if guidelines_popup %}
    {% include 'EvalView/_guidelines_popup.html' %}
{% endif %}

<div class="item-box item-odd item-static-content pseudoquotelike">
        <div class="source-box">
            <div class="row">
                {% if not monolingual %}
                <div class="col-sm-3">
                    <p>{{ reference_label }}</p>
                </div>
                <div class="col-sm-4">
                    <p>{{ candidate1_label }}</p>
                </div>
                <div class="col-sm-4">
                    <p>{{ candidate2_label }}</p>
                </div>

                {% else %}
                <div class="col-sm-6">
                    <p>{{ candidate1_label }}</p>
                </div>
                <div class="col-sm-6">
                    <p>{{ candidate2_label }}</p>
                </div>
                {% endif %}
            </div>
        </div>
</div>

{% for item,scores in items %}

<div id="item-{{ item.itemID }}"
     class="item-box item-{% cycle 'odd' 'even' %}
             {% if not item.isCompleteDocument %} quotelike{% endif %}
             {% if scores.current_item %} active{% endif %}"
     data-item-id="{{ item.itemID }}"
     data-item-completed="{{ scores.completed }}"
     data-item-score1="{{ scores.score1 }}"
     data-item-score2="{{ scores.score2 }}">

    <form action="{{action_url}}" method="post">
        {% csrf_token %}

        <input name="start_timestamp" type="hidden" value="" />
        <input name="end_timestamp" type="hidden" value="" />
        <input name="item_id" type="hidden" value="{{ item.itemID }}" />
        <input name="task_id" type="hidden" value="{{ item.id }}" />
        <input name="document_id" type="hidden" value="{{ item.documentID }}" />
        <input name="score1" type="hidden" value="{{ scores.score1 }}" id="score1{{ item.itemID }}" />
        <input name="score2" type="hidden" value="{{ scores.score2 }}" id="score2{{ item.itemID }}" />
        <input name="ajax" type="hidden" value="False" />

        {% if not item.isCompleteDocument %}

        <div class="source-box-hoverable">
            <div class="row">
                {% if not monolingual %}
                <div class="source-box col-sm-3">
                    <span class="pull-left source-btn-toggle glyphicon glyphicon-menu-down"></span>
                    <p>{{ scores.segment_text|safe }}</p>
                </div>
                {% else %}
                <div class="source-box col-sm-1">
                    <span class="pull-left source-btn-toggle glyphicon glyphicon-menu-down"></span>
                </div>
                {% endif %}

                <div class="{% if monolingual %}col-sm-5{% else %}col-sm-4{% endif %}">
                    <span class="source-box candidate-text">{{scores.candidate1_text|safe}}</span>

            <div class="row half-slider target-box toggleable">
            {% with sliderid=item.itemID slidernum=1 %}
            {% include 'EvalView/_thumbs.html' %}
            {% endwith %}
            </div>

                </div>
                <div class="{% if monolingual %}col-sm-5{% else %}col-sm-4{% endif %}">
                    <p class="source-box candidate-text"><span>{{scores.candidate2_text|safe}}</span></p>

            <div class="row half-slider target-box toggleable">
            {% with sliderid=item.itemID slidernum=2 %}
            {% include 'EvalView/_thumbs.html' %}
            {% endwith %}
            </div>

                </div>
                <div class="col-sm-1">
                    <span class="source-btn-done glyphicon glyphicon-ok"></span>

                    <div class="target-box toggleable">
                        <button class="btn button-next btn-primary" name="next_button" accesskey="1"
                                type="submit" value="{{ item.itemID }}">Submit</button>
                     </div>

                </div>
            </div>
        </div>

        {% else %} <!-- item.isCompleteDocument -->

        <div class="question-box">
            <div class="row">
                <div class="col-sm-12 question-box">
                    <p>Instructions will be shown here.</p>
                </div>
            </div>
        </div>

        <div class="target-box document-box quotelike">
            <div class="row">
            <div class="col-sm-6">
                <small class="segment-label">{{ candidate1_label }}</small>
            <!-- TODO: replace the slider with voting -->
            {% with sliderid=item.itemID slidernum=1 %}
            {% include 'EvalView/_slider.html' %}
            {% endwith %}
            </div>
            <div class="col-sm-6">
                <small class="segment-label">{{ candidate2_label }}</small>
            <!-- TODO: replace the slider with voting -->
            {% with sliderid=item.itemID slidernum=2 %}
            {% include 'EvalView/_slider.html' %}
            {% endwith %}
            </div>
            </div>

            <table class="action-box">
                <tr>
                    <td style="width:30%;text-align:right;">
                        <button id="button-doc" class="btn button-next btn-primary" name="next_button" accesskey="1"
                                type="submit" value="{{ item.itemID }}">Submit</button>
                    </td>
                </tr>
            </table>
        </div>

        {% endif %}
    </form>
</div>

{% endfor %}

{% endblock %}
