# Appraise
Batches
Packages
Examples/**/*.csv
Examples/**/*.log
development.db*
static

# Python
*.py[cod]
__pycache__

# Temporary files
*~
appraise.log

# Editors
.vscode
*.sw[po]

.venv
db.sqlite3
