{% load i18n %}
<script type="text/javascript">var go_from_select = function(opt) { window.location = window.location.pathname + opt };</script>

<!-- https://stackoverflow.com/questions/5429276/how-to-change-the-django-admin-filter-to-use-a-dropdown-instead-of-list -->

<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<ul class="admin-filter-{{ title|cut:' ' }}">
<li>
<select onchange="go_from_select(this.options[this.selectedIndex].value)">
{% for choice in choices %}
    <option {% if choice.selected %} selected="selected"{% endif %} value="{{ choice.query_string|iriencode }}" title="{{ choice.display }}">{{ choice.display }}</a></option>
{% endfor %}
</select>
</li>
</ul>
