{% extends 'Dashboard/base.html' %}

{% block content %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
          <!--
        <div class="alert alert-info" role="alert">
          Accounts and tasks are live now &mdash; check <a href="https://github.com/AppraiseDev/WMT21SrcDA/">github.com/AppraiseDev/WMT21SrcDA/</a> for latest updates.
        </div>
          -->

        <h1>Dashboard</h1>
        <h4>Evaluation campaign for shared tasks hosted at <a href="https://statmt.org/wmt23">the 8th Conference on Machine Translation</a> (WMT23)</h4>

        <div class="panel panel-primary" style="margin-top: 20px;">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>This is Appraise</strong></h3>
          </div>
          <div class="panel-body">
{% if current_task %}
            <h3>Current HIT</h3>
            <p>Continue annotation for <a href="{% url current_url %}">{{current_task.campaign}}:{{current_task.marketTargetLanguage}}</a>.</p>
{% elif all_languages %}
    {% for _, languages in all_languages.items %}
    {% if languages %}
            <h3>Next HIT</h3>
            <p>Start annotation for:
        {% for code, language, campaign, task_url in languages %}
            <a href="{% url task_url code campaign %}">{{campaign}}:{{language}}</a>{% if not forloop.last %} &middot; {% endif %}
        {% endfor %}
            </p>
    {% endif %}
    {% endfor %}
            <p><small>You will be assigned a free annotation task for the selected target language.</small></p>

{% elif work_completed %}
            <h3>Work completed</h3>
            <p>You have successfully completed all tasks assigned to this account. Thank you very much!</p>
            <p>This is your unique confirmation token, which you may need to certify that you have completed the work.</p>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 text-center alert alert-info">
                <input style="vertical-align: middle; border: 0px; background-color: transparent; font-size: large; margin-right: 10px;" id="work_completed_token" value="{{ work_completed }}" readonly=readonly size=36 />
                <button type="button" class="btn btn-default btn-xs" onclick="javascript:var token=document.getElementById('work_completed_token'); token.select(); document.execCommand('copy'); token.blur(); window.getSelection().removeAllRanges();">
                  <span id="copy_button" class="glyphicon glyphicon-copy" aria-hidden="true"></span> Copy
                </button>
              </div>
            </div>
{% else %}
            <h3>Next HIT</h3>
            <p>We are currently finalising the registration process for annotator accounts. Once this has been completed, direct assessment tasks will be become available from this page. Please check back in a little while.</p>
{% endif %}
            <h3>User status</h3>
            <p>{{annotations}} annotation{{annotations|pluralize}}, {{hits}} HIT{{hits|pluralize}} completed. Total annotation duration {% if days %}{{days|stringformat:"02d"}}d{% endif %}{{hours|stringformat:"02d"}}h{{minutes|stringformat:"02d"}}m{{seconds|stringformat:"02d"}}s.</p>
          </div>
        </div>
      </div>
{% endblock %}
