annotation {
    background-color: #2185d0 !important;
    border: 1px dashed white;
    color: white;
    z-index: 2000;
}

annotation[current=true] {
    position: relative;
}

annotation[type=requirement] {
    background-color: #f2711c !important;
}

annotation[type=backlog] {
    background-color: #009c95 !important;
}

annotation[type=internal] {
    background-color: #2185d0 !important;
}

/* Popover Styles */
#annotate_settings {
    background: #FFF;
    border-radius: 4px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 4px 8px;
    z-index: 2000;
}

#annotate_settings[data-show] {
    display: block;
}

#arrow,
#arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
}

#arrow::before {
    content: '';
    transform: rotate(45deg);
    background: #FFF;
    box-shadow: -4px -4px 5px #00000012;
}

#annotate_settings[data-popper-placement^='top']>#arrow {
    bottom: -4px;
}

#annotate_settings[data-popper-placement^='bottom']>#arrow {
    top: -4px;
}

#annotate_settings[data-popper-placement^='left']>#arrow {
    right: -4px;
}

#annotate_settings[data-popper-placement^='right']>#arrow {
    left: -4px;
}
